<a href="https://colab.research.google.com/github/abel-keya/Machine-Learning/blob/master/programming_Neural_Networks_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color=green>To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.</font>

##Python programming: Neural Networks

### Importing Libraries

In [0]:

import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
# Import a standardization library
from sklearn.preprocessing import StandardScaler
# Import an Multi-Layer Perceptron Classifier model estimator from Scikit-Learn's neural_network library
from sklearn.neural_network import MLPClassifier

from sklearn.metrics import classification_report,confusion_matrix

### Example 1: Breast Cancer Classificaton

## <font color= green>Challenge 1</fonts>

In [0]:
# Lower back pain can be caused by a variety of problems with any parts of the complex, interconnected network of spinal muscles, nerves, bones, discs or tendons in the lumbar spine.
# An irritation or problem with any of these structures can cause lower back pain and/or pain that radiates or is referred to other parts of the body. 
# Many lower back problems also cause back muscle spasms, which don't sound like much but can cause severe pain and disability.
# While lower back pain is extremely common, the symptoms and severity of lower back pain vary greatly. 
# A simple lower back muscle strain might be excruciating enough to necessitate an emergency room visit, while a degenerating disc might cause only mild, intermittent discomfort
# Use the following dataset to classify a persons spine as either normal or abnormal
# Dataset Url -------> http://bit.ly/spine_data

In [0]:
spinex = "http://bit.ly/spine_data"
spine = pd.read_csv(spinex)
spine

          Col1  ...                                        Unnamed: 13
0    63.027818  ...                                                NaN
1    39.056951  ...                                                NaN
2    68.832021  ...  Prediction is done by using binary classificat...
3    69.297008  ...                                                NaN
4    49.712859  ...                                                NaN
..         ...  ...                                                ...
305  47.903565  ...                                                NaN
306  53.936748  ...                                                NaN
307  61.446597  ...                                                NaN
308  45.252792  ...                                                NaN
309  33.841641  ...                                                NaN

[310 rows x 14 columns]

In [0]:
# Drop the column that has NaN values
spine_data = spine.dropna(axis='columns')
spine_data

          Col1       Col2       Col3  ...      Col11    Col12  Class_att
0    63.027818  22.552586  39.609117  ... -28.658501  43.5123   Abnormal
1    39.056951  10.060991  25.015378  ... -25.530607  16.1102   Abnormal
2    68.832021  22.218482  50.092194  ... -29.031888  19.2221   Abnormal
3    69.297008  24.652878  44.311238  ... -30.470246  18.8329   Abnormal
4    49.712859   9.652075  28.317406  ... -16.378376  24.9171   Abnormal
..         ...        ...        ...  ...        ...      ...        ...
305  47.903565  13.616688  36.000000  ... -15.728927  11.5472     Normal
306  53.936748  20.721496  29.220534  ...   6.013843  43.8693     Normal
307  61.446597  22.694968  46.170347  ...   3.564463  18.4151     Normal
308  45.252792   8.693157  41.583126  ...   5.767308  33.7192     Normal
309  33.841641   5.073991  36.641233  ...   1.783007  40.6049     Normal

[310 rows x 13 columns]

In [0]:
# Define our features and targets
 X = spine_data.drop(['Class_att'],axis=1) 
 y = spine_data["Class_att"]

 #  Split the data into train and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0) # notice that we are suing the same random state number for the purpose of comparing the performance later

# Normalizing the our training data

# Initialize the scaler
scaler = StandardScaler()

# Fitting the scaler
scaler.fit(X_train)

# Applying the transformation to the data
X_train = scaler.transform(X_train)

X_test = scaler.transform(X_test)

In [0]:
# Creating our model
mlp = MLPClassifier(hidden_layer_sizes=(20,20,20), activation='logistic', random_state=10, max_iter=200)

# fitting the data
mlp.fit(X_train,y_train)

# Sometimes, depending on the number of iteration convergence might no be reached. When this happens just play around with your max_iteration parameter. To see this in action put your max_iter to the default value of 200 and see what happens

/usr/local/lib/python3.6/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

MLPClassifier(activation='logistic', alpha=0.0001, batch_size='auto',
              beta_1=0.9, beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(20, 20, 20), learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=200,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=10, shuffle=True, solver='adam',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)

In [0]:
# Predicting
y_pred = mlp.predict(X_test)

# Evaluation
print(confusion_matrix(y_test,y_pred))

print('-----------------------------------------')

print(classification_report(y_test,y_pred))

[[33 10]
 [ 6 13]]
-----------------------------------------
              precision    recall  f1-score   support

    Abnormal       0.85      0.77      0.80        43
      Normal       0.57      0.68      0.62        19

    accuracy                           0.74        62
   macro avg       0.71      0.73      0.71        62
weighted avg       0.76      0.74      0.75        62

## <font color= green>Challenge 2</fonts>

In [0]:
# You are given a dataset that hava various traits of zoo animals and you are required to classify the animals into 7 classes: Mammal, Bird, Reptile, Fish, Amphibian, Bug and Invertebrate
# Use neural networks to achive this objective
# Dataset1 Url ----> http://bit.ly/zoo_data
# Dataset2 url-------http://bit.ly/zoo_class

In [0]:
zo = "http://bit.ly/zoo_data" 
zoo_data = pd.read_csv(zo)
zoo_data

    animal_name  hair  feathers  eggs  ...  tail  domestic  catsize  class_type
0      aardvark     1         0     0  ...     0         0        1           1
1      antelope     1         0     0  ...     1         0        1           1
2          bass     0         0     1  ...     1         0        0           4
3          bear     1         0     0  ...     0         0        1           1
4          boar     1         0     0  ...     1         0        1           1
..          ...   ...       ...   ...  ...   ...       ...      ...         ...
96      wallaby     1         0     0  ...     1         0        1           1
97         wasp     1         0     1  ...     0         0        0           6
98         wolf     1         0     0  ...     1         0        1           1
99         worm     0         0     1  ...     0         0        0           7
100        wren     0         1     1  ...     1         0        0           2

[101 rows x 18 columns]

In [0]:
 X = zoo_data.drop(['animal_name'],axis=1) 
 y = zoo_data["animal_name"]

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
# Initialize the scaler
scaler = StandardScaler()

# Fitting the scaler
scaler.fit(X_train)

# Applying the transformation to the data
X_train = scaler.transform(X_train)

X_test = scaler.transform(X_test)

In [0]:
# Creating our model
mlp = MLPClassifier(hidden_layer_sizes=(5,5,5), activation='logistic', random_state=5, max_iter=10)

# fitting the data
mlp.fit(X_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (10) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

MLPClassifier(activation='logistic', alpha=0.0001, batch_size='auto',
              beta_1=0.9, beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(5, 5, 5), learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=10,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=5, shuffle=True, solver='adam',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)

In [0]:
# Predicting
y_pred = mlp.predict(X_test)

# Evaluation
print(confusion_matrix(y_test,y_pred))

print('-----------------------------------------')

print(classification_report(y_test,y_pred))

[[0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0]]
-----------------------------------------
              precision    recall  f1-score   support

        bass       0.00      0.00      0.00       1.0
        carp       0.00      0.00      0.00       1.0
     catfish       0.00      0.00      0.00       1.0
        clam       0.00      0.00      0.00       1.0
        crow       0.00      0.00      0.00       1.0
    elephant       0.00      0.00      0.00       1.0
        flea       0.00      0.00      0.00       1.0
        frog       0.00      0.00      0.00       1.0
        gnat       0.00      0.00      0.00       1.0
        gull       0.00      0.00      0.00       1.0
        lark       0.00      0.00      0.00       1.0
        lion       0.00      0.00      0.00       0.0
     octopus       0.00      0.00      0.00       1.0
     opossum       0.00      0.00      0.00       1.0
        oryx       0.00      0.00      0.00       1.0
    seahorse       0.00      0.00      0.00       1.0
     sealion       0.00      0.00      0.00       1.0
     skimmer       0.00      0.00      0.00       1.0
    stingray       0.00      0.00      0.00       1.0
     vampire       0.00      0.00      0.00       1.0
        vole       0.00      0.00      0.00       1.0
     wallaby       0.00      0.00      0.00       1.0

    accuracy                           0.00      21.0
   macro avg       0.00      0.00      0.00      21.0
weighted avg       0.00      0.00      0.00      21.0

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [0]:
zoo = "http://bit.ly/zoo_class" 
zoo_class = pd.read_csv(zoo)
zoo_class

   Class_Number  ...                                       Animal_Names
0             1  ...  aardvark, antelope, bear, boar, buffalo, calf,...
1             2  ...  chicken, crow, dove, duck, flamingo, gull, haw...
2             3  ...    pitviper, seasnake, slowworm, tortoise, tuatara
3             4  ...  bass, carp, catfish, chub, dogfish, haddock, h...
4             5  ...                             frog, frog, newt, toad
5             6  ...  flea, gnat, honeybee, housefly, ladybird, moth...
6             7  ...  clam, crab, crayfish, lobster, octopus, scorpi...

[7 rows x 4 columns]